@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  /* =============colors============= */
  --color-Primary: #ffffff;
  --color-Primary2: #363738;
  --color-Secondary: #f5f5f5;
  --color-Secondary1: #fefaf1;
  --color-BG: #ffffff;
  --color-Text: #fafafa;
  --color-Text1: #7d8184;
  --color-Text2: #000000;
  --color-Button: #000000;
  --color-Button1: #00ff66;
  --color-Button2: #db4444;
  --color-Secondary2: #db4444;
  --color-HoverButtonPink: #e07575;
  --color-HoverButtonSky: #a0bce0;

  /* =============fonts============= */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.navbarBottom {
  position: relative;
  transition: all 0.3s linear;
}
.navbarBottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-Text2);
  transition: all 0.3s linear;
}

.navbarBottom:hover::after {
  width: 100%;
}

.footerTextSubHeading {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 20px;
}
.footerTextList {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
}

/* ==================================Slider CSS==================================== */
.bannerSlider .slick-dots {
  position: absolute;
  bottom: 18px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.employeeSlider .slick-dots {
  position: absolute;
  bottom: -60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.employeeSlider .slick-list {
  padding: 50px !important;
}
.bannerSlider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.employeeSlider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.bannerSlider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  border-radius: 50% !important;
  outline: none;
  background: #808080 !important;
}
.employeeSlider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  border-radius: 50% !important;
  outline: none;
  background: #808080 !important;
}

.bannerSlider .slick-dots li button:before {
  font-family: "slick";
  font-size: 14px !important;
  line-height: 22px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1 !important;
  color: #808080 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.employeeSlider .slick-dots li button:before {
  font-family: "slick";
  font-size: 14px !important;
  line-height: 22px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1 !important;
  color: #808080 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bannerSlider .slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: var(--color-Secondary2) !important;
  background-color: white !important;
  border-radius: 50% !important;
}
.employeeSlider .slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: var(--color-Secondary2) !important;
  background-color: white !important;
  border-radius: 50% !important;
}

.bannerSlider .slick-prev:before {
  content: "" !important;
}

.bannerSlider .slick-next:before {
  content: "" !important;
}
.employeeSlider .slick-prev:before {
  content: "" !important;
}

.employeeSlider .slick-next:before {
  content: "" !important;
}
/* ==================================Slider CSS==================================== */

/* ==================================Heading CSS==================================== */
.subTitle {
  position: relative;
}
.subTitle::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-Secondary2);
  top: -10px;
  left: -40px;
}

/* ==================================Heading CSS==================================== */

/* ==================================Timer CSS==================================== */
.timeItem {
  position: relative;
}
.timeItem::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--color-HoverButtonPink);
  top: 22px;
  right: -15px;
}
.timeItem:last-child::before {
  display: none;
}
.timeItem::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--color-HoverButtonPink);
  bottom: 10px;
  right: -15px;
}
.timeItem:last-child::after {
  display: none;
}
/* ==================================Timer CSS==================================== */

/* ==================================Cart CSS==================================== */

.addToCartBtn {
  opacity: 0;
  transition: all 0.3s linear;
  bottom: -10px;
}
.imageContainer:hover .addToCartBtn {
  bottom: 0;
  opacity: 1;
}

/* ==================================Cart CSS==================================== */

/* ==================================Contact CSS==================================== */
.inputAsteriks {
  position: relative;
}
.inputAsteriks::after {
  position: absolute;
  content: "*";
  top: 0;
  right: 0;
  color: #db4444;
}
/* ==================================Contact CSS==================================== */

/* ==================================Our story CSS==================================== */
.storyCardParent:hover .storyCardGrandChild {
  background-color: white;
  color: black;
  transition: all;
  transition-duration: 0.3s;
}
.storyCardParent:hover .storyCardChild {
  background-color: #ffffff51;
  color: black;
  transition: all;
  transition-duration: 0.3s;
}
/* ==================================Our story CSS==================================== */
